In [1]:
# Data ingestion

In [2]:
import pandas as pd

In [15]:
data=pd.read_csv("D:\\ineuron\\fsdsendtoendagain\\notebooks\\data\\gemstone.csv")

In [16]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
18587,18588,1.01,Ideal,I,VS2,62.5,56.0,6.38,6.41,4.00,5855
839,840,0.30,Ideal,H,VVS1,62.2,57.0,4.28,4.31,2.67,665
21778,21779,0.71,Fair,J,VS2,64.4,56.0,5.64,5.60,3.62,1826
8382,8383,2.01,Premium,F,SI2,62.4,58.0,8.08,8.05,5.03,14279
1180,1181,0.68,Premium,G,VS1,58.6,59.0,5.80,5.77,3.39,2326

In [17]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [21]:
data=data.drop(labels=["id"],axis=1)

In [22]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [23]:
data.duplicated().sum()

34

In [24]:
data.shape

(26967, 10)

In [25]:
data = data.drop_duplicates()

In [26]:
data.shape

(26933, 10)

In [27]:
# cat vs numeric

In [28]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [31]:
categorical_columns=data.columns[data.dtypes=='object']

In [33]:
numerical_columns=data.columns[data.dtypes!='object']

In [34]:
data[categorical_columns].head()

         cut color clarity
0      Ideal     E     SI1
1    Premium     G      IF
2  Very Good     E    VVS2
3      Ideal     F     VS1
4      Ideal     F    VVS1

In [35]:
data[categorical_columns].describe()

          cut  color clarity
count   26933  26933   26933
unique      5      7       8
top     Ideal      G     SI1
freq    10805   5653    6565

In [36]:
data[numerical_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
carat,26933.0,0.798010,0.477237,0.2,0.40,0.70,1.05,4.50
depth,26933.0,61.744113,1.393867,50.8,61.10,61.80,62.50,73.60
table,26933.0,57.455950,2.232156,49.0,56.00,57.00,59.00,79.00
x,26933.0,5.729346,1.127367,0.0,4.71,5.69,6.55,10.23
y,26933.0,5.733102,1.165037,0.0,4.71,5.70,6.54,58.90
z,26933.0,3.537769,0.719964,0.0,2.90,3.52,4.04,31.80
price,26933.0,3937.526120,4022.551862,326.0,945.00,2375.00,5356.00,18818.00

In [38]:
data[categorical_columns]['cut'].value_counts()

cut
Ideal        10805
Premium       6886
Very Good     6027
Good          2435
Fair           780
Name: count, dtype: int64

In [39]:
data[categorical_columns]['color'].value_counts()

color
G    5653
E    4916
F    4723
H    4095
D    3341
I    2765
J    1440
Name: count, dtype: int64

In [40]:
data[categorical_columns]['clarity'].value_counts()

clarity
SI1     6565
VS2     6093
SI2     4564
VS1     4087
VVS2    2530
VVS1    1839
IF       891
I1       364
Name: count, dtype: int64